@using DiscreteMath.Models
@model CheckCodeOptimalityModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Coding.cshtml";
}

<h2>Проверка оптимальности кода</h2>

<p>
    Выяснить, является ли заданный код в алфавите "@Model.InputData.CodeAlphabet" оптимальным:
</p>

<div class="col-md-6">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Символ")
                </th>
                <th>
                    @Html.DisplayName("Вероятность")
                </th>
                <th>
                    @Html.DisplayName("Код")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var symbol in Model.InputData.Code.ElementaryCodes.Keys)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => symbol)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.InputData.Code.CodeFrequencies[symbol])
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.InputData.Code.ElementaryCodes[symbol])
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<br>
@using (Html.BeginForm("Answer", "CheckCodeOptimality", FormMethod.Post))
{
    @Html.HiddenFor(model => model.InputData)
    foreach (var answer in DiscreteMath.Models.ExerciseModel.YesNoAnswers)
    {
        <div> @Html.RadioButtonFor(modelSelected => modelSelected.SelectedAnswer, answer.Id) @answer.Text</div>
    }
    <br>
    <input type="submit" value="Ответить" />
}

<br>
<div class="well col-md-6">@Model.Comment</div>

