@using DiscreteMath.Models
@model BuildOptimalCodeModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Coding.cshtml";
}



<h2>Построение оптимального кода</h2>

<p>
    С помощью процедуры Хаффмена построить код с минимальной избыточностью в алфавите "@Model.InputData.CodeAlphabet"
    для следующего набора вероятностей:
</p>

@using (Html.BeginForm("Answer", "BuildOptimalCode", FormMethod.Post))
{
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Символ")
                    </th>
                    <th>
                        @Html.DisplayName("Вероятность")
                    </th>
                    <th>
                        @Html.DisplayName("Код")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var symbol in Model.InputData.FrequencyList.Keys)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => symbol)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.InputData.FrequencyList[symbol])
                        </td>
                        <td contenteditable="true" style="background-color:lightyellow">
                            @Html.DisplayFor(modelItem => Model.ElementaryCodes[symbol])
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br>
    <input type="submit" value="Ответить" />
}
<br>
<div class="well col-md-6">@Model.Comment</div>


