@using DiscreteMath.Models
@model FrequencyCode
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Coding.cshtml";
}



<h2>Построение оптимального кода</h2>

<p>
    Формат ввода: файл с расширением .txt, где первая строка - кодирующий алфавит без пробелов и повторяющихся символов. 
    Каждая последующая строка - пара символ - вероятность, записанные через пробел. Обратите внимание, что сумма всех вероятностей 
    должна быть равна 1.
</p>

@using (Html.BeginForm("Upload", "BuildOptimalCode", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="upload" />
    <br>
    <input type="submit" value="Загрузить" />
}
<br/>
<div class="alert alert-danger col-md-6">@ViewBag.ErrorMessage</div>

@if (Model != null)
{
<div class="col-md-6">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Символ")
                </th>
                <th>
                    @Html.DisplayName("Вероятность")
                </th>
                <th>
                    @Html.DisplayName("Код")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var symbol in Model.ElementaryCodes.Keys)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => symbol)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.CodeFrequencies[symbol])
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ElementaryCodes[symbol])
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
}

