@using DiscreteMath.Models
@model CheckUnambiguousCodeExistanceModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Coding.cshtml";
}

<h2>Проверка существования однозначного кода</h2>

<p>
    С помощью неравенства Макмиллана выяснить, может ли набор чисел (
    @foreach (var num in Model.InputData.CodewordLengths)
    {
        @Html.DisplayText(String.Format("{0}, ", num))
    }
    ) быть набором длин кодовых слов однозначно декодируемого кода в алфавите длины @Model.InputData.AlphabetLength:
</p>
<br>
@using (Html.BeginForm("Answer", "CheckUnambiguousCodeExistance", FormMethod.Post))
{
    @Html.HiddenFor(model => model.InputData)
    foreach (var answer in DiscreteMath.Models.ExerciseModel.YesNoAnswers)
    {
        <div> @Html.RadioButtonFor(modelSelected => modelSelected.SelectedAnswer, answer.Id) @answer.Text</div>
    }
    <br>
    <input type="submit" value="Ответить" />
}

<br>
<div class="well col-md-6">@Model.Comment</div>
