@using DiscreteMath.Models
@model EncodeHammingModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Coding.cshtml";
}

<h2>Кодирование сообщения по Хэммингу</h2>

<p>
    Построить по методу Хэмминга кодовое слово для сообщения: @Model.InputData.Message
</p>

<br>
@using (Html.BeginForm("Answer", "EncodeHamming", FormMethod.Post))
{
    @Html.HiddenFor(model => model.InputData)
    @Html.Label("Кодовое слово: ")
    @Html.EditorFor(model => model.EncodedMessage)
    <br>
    <input type="submit" value="Ответить" />
}
<br>
<div class="well col-md-6">@Model.Comment</div>
