@using DiscreteMath.Models
@model GetCorrectingCodeParametersModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Coding.cshtml";
}

<h2>Нахождение характеристик помехоустойчивого кода</h2>

<p>
    Для заданного кода найти кодовое расстояние, а также количество обнаруживаемых и исправляемых им ошибок:
</p>

<div class="col-md-6">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Символ")
                </th>
                <th>
                    @Html.DisplayName("Код")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var symbol in Model.InputData.Code.ElementaryCodes.Keys)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => symbol)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.InputData.Code.ElementaryCodes[symbol])
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br>
@using (Html.BeginForm("Answer", "GetCorrectingCodeParameters", FormMethod.Post))
{
    @Html.HiddenFor(model => model.InputData)
    @Html.Label("Кодовое расстояние: ")
    @Html.EditorFor(model => model.CodeDistance)
    @Html.Label("Количество обнаруживаемых ошибок: ")
    @Html.EditorFor(model => model.DetectableErrors)
    @Html.Label("Количество исправляемых ошибок: ")
    @Html.EditorFor(model => model.FixableErrors)
    <br>
    <input type="submit" value="Ответить" />
}

<br>
<div class="well col-md-6">@Model.Comment</div>

